:root {
  --primary-color: #cc0000;
  --secondary-color: #7c0000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__registryTime {
  background-color: #f0ad4e;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.app__container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow: none;
}

.app__header {
  background-color: var(--primary-color);
  box-shadow: 3px 3px 10px #888;
}
.app__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.app__header .app__logo {
  margin-bottom: 16px;
  color: white;
}
input[type="text"] {
  padding: 7px;
  width: 300px;
  border: 0;
  border-radius: 9px;
}

.app__subheader p {
  margin: 4px;
}

.app__subheader img {
  width: 40px;
}

.app__subheader {
  background: var(--secondary-color);
  color: #fff;
  box-shadow: 3px 3px 10px #888888;
  font-size: 14px;
  padding: 10px;
  width: 90%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: lightblue;
  color: darkblue;
  font-family: "robot", sans-serif;
}
.twoMaps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.twoMaps .twoMaps__item {
  display: flex;
  flex-direction: column;
  border: 1px #ccc solid;
  padding: 10px;
  box-shadow: 1px 1px 2px #ccc;
}

.MuiCardContent-root {
  padding: 0px !important;
}
